* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(181, 215, 228);
    font-family: 'Nerko One', cursive;
    text-shadow: 1px 1px 1px gray;
}

header {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: rgb(181, 215, 228);
    padding-bottom: 30px;
}

header h1 {
    font-size: 80px;
    text-transform: uppercase;
}

.table {
    height: auto;
    width: 60%;
    background-color:rgb(181, 215, 228);
    margin: auto;
    padding-top: 8px;
}

.box {
    height: 200px;
    width: 25%;
    background-color: rgb(181, 215, 228);
    float: left;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    position: relative;    
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
}

.covered-text {
    position: absolute;
    bottom: 20px;
    right: 2.5px;
    color: orange;
    width: 100%;
    text-align: center;
    display: none;
}

.uncovered-text {
    position: absolute;
    bottom: 20px;
    right: 2.5px;
    color: magenta;
    width: 100%;
    text-align: center;
}

.line::after {
    content: "";
    display: table;
    clear: both;
}

.box::after {
    content: "";
    display: table;
    clear: both;
}

.box:hover .card-value {
    display: inline-block;
}

.box:hover h1 {
    display: block;
}


.card-value {
    background-color: white;
    border-radius: 20px;
    bottom: 20px;
    left: 20px;
    background-size: contain;
    display: none;
    border-radius: 20px;
}

.card-cover {
    border-radius: 20px;
    background-position: center;
    background-size: contain;
}

.uncovered-card {
    display: block;
}

footer {
    height: 5vh;
    width: 100%;
    background-color:rgb(181, 215, 228);
    text-align: center;
    padding-top: 30px;
}